body {
  background-color: rgb(243, 243, 243);
  margin-bottom: 20%;
  padding-bottom: 10%;
  padding-top: 0;
}

html {
  margin-bottom: 30%;
  padding-top: 0;
}

h1, h3 {
  text-align: center;
  color: #9dc6d1;
}

h3 {
  margin-top: 0;
  margin-bottom: 10%;
}

h1 {
  font-family: 'Avenir-Light';
  font-size: 4em;
  color: rgb(252, 252, 252);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
}

h6 {
  font-family: 'Avenir-Light';
  font-size: 4em;
  color: #9dc6d1;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10%;
  margin-top: 5%;
  font-weight: 400;
  letter-spacing: 3px;
}

div.mobile {
  margin: 0 auto;
  display: inline-block;
}

h3 {
  font-family: 'Avenir-Book';
  font-size: 1.8em;
  color: rgb(252, 252, 252);
  font-weight: 400;
  margin-bottom: 3%;
}

h4 {
  font-family: 'Avenir-Book';
  font-size: 2.1em;
  text-align: center;
  color: rgb(252, 252, 252);
  text-decoration: underline;
  font-weight: 400;
  margin-bottom: 1%;
  margin-top: 4%;
}

p {
  font-size: 1.7em;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: 'Avenir-Book';
  font-weight: 500;
  margin-left: 40px;
}

#slides {
  display: inline-block;
  float: right;
  margin-right: 15%;
}

#technologies {
  display: inline-block;
  margin-left: 15%;
  float: left;
  border: 5px solid #9dc6d1;
  box-sizing: border-box;
  width: 420px;
  height: 730px;
  padding-top: 10px;
  background-color: #9dc6d1;
  border-radius: 1px;
}

#header {
  margin-top: 0;
  top: 0;
  background-color: #9dc6d1;
  padding-bottom: 2%;
  margin-bottom: 0;
  background: linear-gradient(to bottom, rgba(157, 198, 209, 1) 0%, rgba(157, 198, 209, 0) 100%);
}

.slide-show .ss-indicators>div>span.ss-active {
  background-color: rgba(0, 0, 0, 0) !important;
}

.slide-show .ss-indicators>div>span {
  border: 1px solid rgba(0, 0, 0, 0) !important;
}

polyline {
  fill: rgba(157, 198, 209, 0.6);
}

.logos {
  height: 50px;
  width: 50px;
  margin: 0;
  display: inline-block;
  float: right;
  transform: translateX(-40px);
}

#react {
  height: 50px;
  width: 50px;
  margin: 0;
  display: inline-block;
  float: right;
  padding-top: 20px;
  padding-left: 10px;
}

#goog {
  height: 42px;
  width: 42px;
  margin: 0;
  display: inline-block;
  float: right;
  transform: translateX(-40px);
}

#galvanize {
  width: 55%;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: static;
  filter: opacity(.9) grayscale(100%) contrast(1) brightness(1.9);
}

#info {
  color: #9dc6d1;
  text-align: center;
  font-size: 2em;
}

#footer {
  position: sticky;
  bottom: 0;
  border: 3px dashed black;
  background-color: white;
  opacity: .5;
  padding: 1%;
  height: 50px;
}

.daZGjV {
  display: block;
}

/* .ss-images-size {
	border: 10px solid rgb(187, 187, 187);
} */

@media (min-width: 800px) {
  .mobile-images {
    display: none;
  }
  h6 {
    display: none;
  }
}

@media (max-width: 800px) {
  #slides>div>div>div.slide-show.slide-show-size>div.ss-images.ss-images-size.ss-fixed-height {
    height: 0%;
  }
  .slide-show .ss-fixed-height .ss-slide-image>img {
    display: none;
    margin: 0;
    padding: 0;
    height: 0;
  }
  .slide-show .ss-thumbnails-track {
    display: none;
    margin: 0;
    padding: 0;
    height: 0;
  }
  .slide-show .ss-no-transition {
    height: 0;
  }
  #technologies {
    /* display: inline-block; */
    margin: 0 auto;
    border-top: 5px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    width: 80%;
    height: 90%;
    font-size: 80%;
    width: auto;
    line-height: 4.5em;
    margin-bottom: 0;
  }
  #header {
    margin-top: 0;
    top: 0;
    background-color: #9dc6d1;
    padding-bottom: 2%;
    margin-bottom: 0;
    width: auto;
  }
  .logos {
    margin-top: 3%;
  }
  #goog {
    margin-top: 3%;
  }
  .mobile-images {
    width: auto;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 7%;
  }
  html {
    margin-bottom: 0%;
    padding-top: 0;
  }
  body {
    margin-bottom: 0%;
    padding-bottom: 0%;
    padding-top: 0;
  }
}
